.glass-container {
  background: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  border-radius: 10px;
  padding: 10px;
}

.card {
  background: rgba(42, 42, 42, 0.1); /* Adjust the opacity as needed */
  backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
  border: none; /* Remove the default card border */
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
