.custom-file-input {
  display: none;
}

.custom-file-label {
  display: inline-block;
  width: 100px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f1f3f4;
  color: #333;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.custom-file-label i {
  margin-right: 5px;
}

.custom-file-label:hover {
  background-color: #e2e6ea;
}
.card-header:first-child {
  border-radius: 20px;
}